<div class="container">

    <app-loader-small *ngIf="loading"></app-loader-small>

    <app-household-overview (receivedHousehold)="user = $event" *ngIf="user" [household]="user.household">loading...
    </app-household-overview>

    <div *ngIf="user && user.household">
        <app-charts [(household)]="user.household"></app-charts>
    </div>
    <div class="fixed-action-btn vertical click-to-toggle" *ngIf="user && user.household" style="margin-bottom: 4em">
  <a class="btn-floating btn-large red">
    <i class="material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating red" materialize="tooltip" data-position="left" data-delay="20" data-tooltip="Edit Household" (click)="openHouseholdDetailPopup(user)"><i class="material-icons">mode_edit</i> </a></li>
    <li><a class="btn-floating red" materialize="tooltip" data-position="left" data-delay="20" data-tooltip="Leave Household" (click)="showDialogLeave=!showDialogLeave;"><i class="material-icons">exit_to_app</i> </a> </li>
  </ul>
</div>

</div>
<app-leave-household [(visible)]="showDialogLeave" [(user)]="user" (updatedUser)="updateHouseholdComponent($event)"></app-leave-household>
<app-edit-household [(visible)]=" showDialogEdit" [(household)]="this.currenthousehold" ></app-edit-household>
