<div class="container ">
    <div class="content">
        <div class="row">
            <div class="col s10 m6 l6 offset-s1 offset-m3 offset-l3">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Oooh boy</span>
                        <div class="text-small text">Error: 404</div>
                        <div class="text">This is rubbish. It looks like the page you requested doesn't exist or was removed. You can always admire the <a href="/">homepage</a>!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>