<div [@dialog] *ngIf="visible" class="card dialog">
    <div [@dialog] *ngIf="visible" class="card dialog">
        <!--<ng-content></ng-content>-->
        <div class="card-content">
            <span class="card-title">{{task.name}}</span>


            <!--<div class="fixed-action-btn horizontal">-->
            <!--<a class="btn-floating btn-large red">-->
            <!--<i class="large material-icons">mode_edit</i>-->
            <!--</a>-->
            <!--<ul>-->
            <!--<li><a class="btn-floating red" onclick="Materialize.toast('Task Changes Saved',4000,'rounded')" ><i class="material-icons">save</i></a> </li>-->
            <!--<li><a class="btn-floating yellow darken-1" onclick="Materialize.toast('Task Deleted',4000,'rounded')"><i class="material-icons">delete</i></a> </li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="row">
                <form class="col s12" #taskForm="ngForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input [(ngModel)]="task.name" name="name" id="task_name" type="text" class="validate">
                            <label for="task_name" class="active">Task Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input materialize="pickadate" [(ngModel)]="task.dueDate" name="dueDate" id="task_due_date"
                                   type="date" class="datepicker">
                            <label for="task_due_date" class="active">Next Due Date</label>
                        </div>
                        <div class="input-field col s12">
                            <input [(ngModel)]="task.description" name="description" id="task_description" type="text"
                                   class="">
                            <label for="task_description" class="active">Description</label>
                        </div>
                        <div class="input-field col s6">
                            <input [(ngModel)]="task.period" name="period" id="task_periodicity" type="number"
                                   class="validate">
                            <label for="task_periodicity" class="active">Periodicity (in days)</label>
                        </div>
                        <div class="input-field col s6">
                            <input [(ngModel)]="task.points" name="points" id="task_points" type="number"
                                   class="validate">
                            <label for="task_points" class="active">Points</label>
                        </div>
                        <div class="input-field col s6">
                            <select class="validate" materialize="material_select" [(ngModel)]="task.assigned_to"
                                    name="assigned_to" id="task_user">
                                <option disabled selected>Select User</option>
                                <option *ngFor="let user of usersLocal" [ngValue]="user.id">{{user.name}}</option>
                            </select>
                            <label for="task_user" class="active">User</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div *ngIf="!newTask" class="card-action">
            <a *ngIf="closable" (click)="close()" aria-label="Close" class="">close</a>
            <a aria-label="Delete Task" (click)="deleteTask()" class="right">delete task</a>
            <a aria-label="Save Task" (click)="save()" class="right">save task</a>

        </div>
        <div *ngIf="newTask" class="card-action">
            <a *ngIf="closable" (click)="close()" aria-label="Close" class="">close</a>
            <a aria-label="Save Task" (click)="add()" class="right">add task</a>

        </div>
    </div>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>