<div [@dialog] *ngIf="visible" class="card dialog" >
  <!--<ng-content></ng-content>-->
  <div class="card-content">
    <span class="card-title center">Set Award of the month</span>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input id="award_name" type="text" class="active" required>
            <label for="award_name" class="">Award Name</label>
          </div>
          <div class="input-field col s6 ">
            <input  id="award_description" type="text" class="active" required   >
            <label for="award_description" class="">Description</label>
          </div>



        </div>
      </form>
    </div>
  </div>
  <div class="card-action">
    <a  (click)="close()" class="right"  aria-label="Close" style="cursor: default; margin-bottom: 10px">close</a>
    <a (click)="save()" class="right" aria-label="Save" style="cursor: default; margin-bottom: 10px">save</a>

  </div>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>
