extends layout

block content
    h1= title
    table
        tr
            th Method
            th Route
        each route in routes
            tr
                td= route.methods
                td= route.path