<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Get the App!!</h5>
      <h6 class="white-text">The Cleansing is now available on Google Play for free</h6>
      <a href='https://play.google.com/store/apps/details?id=be.nmct.kuisapp.kuisapp&ah=8zvnTGQYVEygASM8wViDlGrCSnk&hl=nl&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' style="width: 30%;height: 30%;"/></a>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Contact Us</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="http://bart.cf" target="_blank" ><i class="material-icons">person</i>Bart Delrue</a></li>
        <li><a class="grey-text text-lighten-3" href="http://nickdhondt.github.io/" target="_blank"><i class="material-icons" >person</i>Nick Dhondt</a></li>
        <li><a class="grey-text text-lighten-3" href="http://student.howest.be/brent.vanwildemeer1/Portofolio/#" target="_blank"><i class="material-icons">person</i>Brent Vanwildemeersch</a></li>
        <li><a class="grey-text text-lighten-3" href="#!"><i class="material-icons" >person</i>Steven Mollie</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright center-align">
  <div class="container white-text">
    © 2016 TheCleansing All Rights Reserved
  </div>
</div>
