<div class="container ">
    <div class="row ">
        <div class="col l4 s12  center-align">
            <h5 class="white-text">Get App</h5>
            <p class="grey-text text-lighten-4">Our app is now available on Google Play</p>
          <a   href='https://play.google.com/store/apps/details?id=be.nmct.kuisapp.kuisapp&ah=8zvnTGQYVEygASM8wViDlGrCSnk&hl=nl&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img style="height: 50%;width: 50%" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
      <div class="col l4 s12 center-align">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer
          content.</p>
      </div>
        <div class="col l4 s12  center-align">
            <h5 class="white-text">Contact Us</h5>
          <ul class="grey-text text-lighten-4 " style="list-style: none; padding-left: 0px;" >
            <li class=""><i class="material-icons ">account_circle</i><a href="http://bart.cf" target="_blank" class="white-text"  style="position:relative;top:-5px;">Bart Delrue</a> </li>
            <li><i class="material-icons ">account_circle</i><a href="http://nickdhondt.github.io/" target="_blank" class="white-text"  style="position:relative;top:-5px">Nick Dhondt</a></li>
            <li><i class="material-icons ">account_circle</i><a href="http://student.howest.be/brent.vanwildemeer1/Portofolio/" target="_blank" class="white-text" style="position:relative;top:-5px">Brent Vanwildemeersch </a></li>
            <li><i class="material-icons ">account_circle</i><a href="" target="_blank" class="white-text"  style="position:relative;top:-5px">Steven Mollie</a></li>
          </ul>

        </div>
    </div>
</div>
<div class="footer-copyright center-align" >
    <div class="container white-text">
        © 2016 TheCleansing All Rights Reserved

    </div>
</div>
