<div *ngIf="[household.users]">

    <h1 class="center-align">{{household.name}}</h1>

    <div style="padding-bottom: 25px; display: flex; justify-content: center; align-items: flex-end; flex-wrap: wrap">

        <app-user-img
                *ngFor="let user of household.users; let i = index;"
                [user]="user"
                [index]="i"
                (click)="showDialog = !showDialog; selectedUser = user;"
        ></app-user-img>

    </div>

</div>

<div *ngIf="![household.users]">
    <app-loader-small></app-loader-small>
</div>

<app-user-detail [(visible)]="showDialog" [(user)]="selectedUser"></app-user-detail>