<!--<app-loader-small *ngIf="loading"></app-loader-small>-->

<div *ngIf="household">

    <h2 class="center-align grey-text light text-darken-1">{{household.name}}</h2>

    <div style="padding-bottom: 25px; display: flex; justify-content: center; align-items: flex-end; flex-wrap: wrap">

        <app-user-img
                *ngFor="let user of household.users | sortUsers:'score'; let i = index;"
                [user]="user"
                [index]="i"
                (click)="showDialog = !showDialog; selectedUser = user;"
        ></app-user-img>

    </div>

    <app-award [(award)]="household.award"  (click)="toggleDialog()"></app-award>

</div>

<div *ngIf="!household">

    <h2 class="center-align grey-text light text-darken-1">my household</h2>

    <div class="card">
        <div class="card-content">
            <span class="card-title">No household found</span>
            <p>It seems like you don't belong to a household yet.</p>
            <p>Go join or make a household.</p>
        </div>
        <div class="card-action">
            <a href="#">Fuck you</a>
            <a href="#">OK</a>
        </div>
    </div>
</div>


<app-user-detail [(visible)]="showDialog" [(user)]="selectedUser"></app-user-detail>
<app-award-detail *ngIf="household.award !== null" (awardAdded)="awardAdded($event)" [(visible)]="showDialogAward" [(award)]="household.award" [user]="user(household.award.creator_id)" ></app-award-detail>
<app-new-award [(visible)]="showDialogNewAward"></app-new-award>