<div class="row flex-stretch" style="margin-bottom: 0;" [@visibleState]="(state)">
    <div class="col flex-down-center">

        <p [ngClass]="{'red-text': dateDiff<=0}" class="text-large">{{dateDiff}}</p>
        <p *ngIf="dateDiff==1" class="text-small ">day left</p>
        <p *ngIf="dateDiff!=1" class="text-small ">days left</p>
    </div>
    <div class="col" style="flex-grow: 1">
        <span class="title">{{task.name}}</span>
        <p class="grey-text">{{user.name || "do me!"}}</p>
        <p class="text-small">repeats every {{task.period}} days</p>


    </div>
    <div class="col flex-down">
        <div class="flex-wrap-end"
             style="align-self: flex-start">

        <a class="tooltipped"
           (click)="finishClick()"
           materialize="tooltip" data-position="bottom" data-delay="20" data-tooltip="finish">
            <i class="material-icons">done</i></a>
        <a class="tooltipped"
           (click)="showDetailClick()"
           materialize="tooltip"
           data-position="bottom"
           data-delay="20"
           data-tooltip="edit">
            <i class="material-icons">mode_edit</i></a>
        <a class="tooltipped"
           (click)="cancelClick()"
           materialize="tooltip" data-position="bottom" data-delay="20" data-tooltip="finish">
            <i class="material-icons">cancel</i></a>

    </div>
        <span class="chip">{{task.points}} points</span>
    </div>
</div>

