


<div class="container ">
  <div class="content-login">
  <div class="row ">
    <div class="col s12 m6 l4 offset-m3 offset-l4">
      <h4 class="center-align white-text">The Cleansing</h4>
      </div>
  </div>
  <div class="row ">
  <div class="col s12 m6 l4 offset-m4 offset-l4 ">
  <button class="btn center-align" (click)="loginFacebook()">Login with Facebook</button>
  <button class="btn center-align" (click)="loginGoogle()">Sign in with Google</button>



  </div>
  </div>
  </div>
</div>
