<nav class="top-nav yellow darken-2">
    <div class="container">
        <div class="nav-wrapper">
            <a
                    materialize="sideNav"
                    data-activates="nav-mobile"
                    class="button-collapse top-nav full hide-on-large-only">
                <i class="material-icons">menu</i>
            </a>
            <a href="home" class="page-title">The cleansing</a>
        </div>
    </div>
</nav>

<ul id="nav-mobile" class="side-nav fixed">
    <li>
        <div class="userView">
            <div class="background yellow darken-2">

            </div>
            <img class="circle" src="/assets/web_hi_res_205.png">
            <span class="name white-text">{{user.displayName}}</span>
            <span class="email white-text">{{user.email}}</span>
        </div>
    </li>

    <li><a [routerLink]="['']" class="waves-effect "><i class="material-icons">home</i>Home</a></li>
    <li><a [routerLink]="['tasks']" class="waves-effect "><i class="material-icons">assignment</i>Tasks</a></li>
    <li><a [routerLink]="['household']" class="waves-effect "><i class="material-icons">people</i>Household</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="#" class="waves-effect "><i class="material-icons">settings</i>Settings</a></li>
    <li><a class="waves-effect " (click)="logout()"><i class="material-icons">exit_to_app</i>Sign out</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a href="" class="waves-effect waves-teal" (click)="openAbout($event)">About</a></li>
</ul>

<app-about-component [(visible)]="aboutVisible"></app-about-component>