<div [@dialog] *ngIf="visible" class="card dialog">
    <!--<ng-content></ng-content>-->
    <div class="card-content">
        <span class="card-title center">Member Details</span>
        <div class="row center-align" >
            <div class="hoverable circle z-depth-1"
                 style="max-width: 75px; max-height: 75px; overflow: hidden; margin:auto">
                <img
                        src="{{user.imgsrc || 'https://pbs.twimg.com/profile_images/695211716259549184/SUWgwZwh.jpg'}}"
                        class="responsive-img center">
            </div>
        </div>
        <div class="row">
            <form class="col s12" #userDetailForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input [disabled] [(ngModel)]="user.name" id="first_name" name="name" type="text" class="validate">
                        <label class="active" for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input [disabled] [(ngModel)]="user.lname" id="last_name" name="lname" type="text" class="validate">
                        <label class="active" for="last_name">Last Name</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="prefix material-icons">email</i>
                        <input [(ngModel)]="user.email" id="email" name="email" type="email" class="validate">
                        <label class="active" for="email" data-error="Email not validated" data-success="Valid Email ">E-mail</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        <input [(ngModel)]="user.phoneNumber" name="phoneNumber" id="phone_number" type="number" class="validate" >
                        <label class="active" for="phone_number">Phone Number</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card-action">
        <a *ngIf="closable" (click)="close()" aria-label="Close" class="">close</a>
        <a *ngIf="currentUser === user.uid" (click)="save()" class="right"  aria-label="Save">save</a>
    </div>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>