<div class="message-form">
    <form class="container">
        <div class="row">
            <div class="input-field col s8">
                <i class="prefix mdi-communication-chat"></i>
                <input type="text" placeholder="Brent is fantastisch" value={{messageContent}} (input)="messageContent = $event.target.value">
            </div>
            <div class="input-field col s4">
                <button type="submit" (click)="sendMessage()" class="waves-effect waves-light btn-floating btn-large">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
