<div class="message-form">
  <form class="container">
    <div class="row">
      <div class="input-field col s8" >
        <i class="prefix mdi-communication-chat"></i>
        <input ngmodel="messageContent" type="text" placeholder="Brent is fantastisch">
      </div>
      <div class="input-field col s4">
        <button type="submit" class="waves-effect waves-light btn-floating btn-large">
          <i class="material-icons">chat</i>
        </button>
      </div>
    </div>
  </form>
</div>
