<div class="chat-form">
    <form>
        <div class="row no-margin">
            <div class="input-field col s10 no-margin no-padding">
                <i class="prefix mdi-communication-chat"></i>
                <input type="text" class="no-margin" placeholder="Announcement" value={{messageContent}} (input)="messageContent = $event.target.value">
            </div>
            <div class="input-field col s2 no-margin right-align no-padding">
                <button type="submit" (click)="sendMessage()" class="waves-effect waves-light btn-floating btn-small red">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
