<h2 class="center-align grey-text light text-darken-1">all our tasks</h2>

<div class="collection" [hidden]="tasks.length == 0" *ngIf="tasks.length > 0">

    <nav class="amber">
        <div class="nav-wrapper">
            <form>
                <div class="input-field">
                    <input #filterField (keyup)="0" id="search" type="search" name="filter" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons" (click)="filterField.value = ''">close</i>
                </div>
            </form>
        </div>
    </nav>

    <div class="collection-item"
         *ngFor="let task of tasks | tasksFilter:filterField.value | sort:'period'; let i = index">


        <app-task-row
                (showDetail)="showDetail($event)"
                [task]="task"
                [user]="user(task.assigned_to)"></app-task-row>

    </div>
</div>

<div *ngIf="tasks.length == 0">


    <div class="card">
        <div class="card-content">
            <span class="card-title">No tasks found</span>
            <p>You have no tasks, what are you even doing!</p>
        </div>
        <div class="card-action">
            <a href="#">Fuck you</a>
            <a href="#">OK</a>
        </div>
    </div>
</div>

<app-taskdetail [(visible)]="showDialog" [(task)]="selectedTask" [(users)]="users" (newTaskEvent)="addTaskToList()"></app-taskdetail>
