<div [@dialog] *ngIf="visible" class="card dialog" >
  <!--<ng-content></ng-content>-->
  <div class="card-content">
    <span class="card-title center">Please Confirm</span>
    <div class="row no-margin">
      <form class="col s12">
        <div class="row no-margin">

          <div class="row no-margin">
            <p>Are youe sure you want to leave?</p>
          </div>


        </div>
      </form>
    </div>
  </div>
  <div class="card-action">
    <a  (click)="close()" class="right"  aria-label="close" style="cursor: default; margin-bottom: 10px">no</a>
    <a class="right" (click)="leave()" aria-label="Join" style="cursor: default;margin-bottom: 10px">yes</a>

  </div>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>
