<div [@dialog] *ngIf="visible" class="card dialog" >
  <!--<ng-content></ng-content>-->
  <div class="card-content">
    <span class="card-title center">Please Confirm</span>
    <div class="row">
      <form class="col s12">
            <p>Are youe sure you want to leave?</p>
      </form>
    </div>
  </div>
  <div class="card-action">
      <a></a>
      <a (click)="leave()" class="right" aria-label="Join">yes</a>
      <a (click)="close()" class="right" aria-label="close">no</a>
  </div>
</div>

<div *ngIf="visible" class="overlay" (click)="close()"></div>
