<nav class="yellow darken-2">
  <div class="nav-wrapper">

      <ul class="right hide-on-med-and-down">
      <li><a href="">My Account</a> </li>
      <li><a>Settings</a></li>
      <li><a>Sign out</a> </li>
    </ul>

    <ul class="side-nav" id="mobile-demo">
      <li><a href="">My Account</a> </li>
      <li><a>Settings</a></li>
      <li><a>Sign out</a> </li>
    </ul>
      <a href="home" class="brand-logo center">The Cleansing</a>
      <a data-activates="mobile-demo" class=""><i class="material-icons">menu</i></a>
    <script>

    </script>
  </div>


</nav>


