<!--<app-loader-small *ngIf="loading"></app-loader-small>-->


<div class="collection" [hidden]="tasksTodo.length == 0" *ngIf="tasksTodo.length > 0">

    <div class="collection-item" style="" *ngFor="let tasktodo of tasksTodo; let i = index">

        <!--<div style="position:absolute; z-index: 10">-->
        <!--<a class="btn">test</a>-->
        <!--</div>-->

        <app-tasktodo-row
                (cancel)="cancel($event, i)"
                (finish)="finish($event, i)"
                (showDetail)="showDetail($event)"
                [task]="tasktodo"
                [user]="user(tasktodo.assigned_to)"></app-tasktodo-row>


    </div>
</div>

<div *ngIf="tasksTodo.length == 0">

    <h2 class="center-align grey-text light text-darken-1">my upcoming tasks</h2>

    <div class="card">
        <div class="card-content">
            <span class="card-title">No tasks found</span>
            <p>You have nothing to do, go make some tasks!</p>
        </div>
        <div class="card-action">
            <a href="#">Fuck you</a>
            <a href="#">OK</a>
        </div>
    </div>
</div>

<app-taskdetail [(visible)]="showDialog" [(task)]="selectedTask" [(users)]="users"></app-taskdetail>