<!--<app-loader-small *ngIf="loading"></app-loader-small>-->


<div class="collection" [hidden]="tasksTodo.length == 0" *ngIf="tasksTodo.length > 0">

    <div class="collection-item" style="" *ngFor="let tasktodo of tasksTodo | sort; let i = index">

        <!--<div style="position:absolute; z-index: 10">-->
        <!--<a class="btn">test</a>-->
        <!--</div>-->

        <app-tasktodo-row
                (cancel)="cancel($event, i)"
                (finish)="finish($event, i)"
                (showDetail)="showDetail($event)"
                [task]="tasktodo"
                [user]="user(tasktodo.assigned_to)"></app-tasktodo-row>


    </div>
</div>

<app-taskdetail *ngIf="selectedTask" [(visible)]="showDialog" [(task)]="selectedTask" [(users)]="users"></app-taskdetail>