@import "assets/scss/chartist.scss";

@media only screen and (min-width: 993px) {
    header, footer, main {
        padding-left: 300px;
    }
}

.chat-bottom {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    margin: 0;
}

.no-padding {
    padding: 0 !important;

}
.no-margin {
    margin: 0 !important;
}

.text-small {
  font-size: 0.6em;
}

.text-large {
  font-size: 1.4em
}

a {
    cursor: pointer;
}

.material-tooltip > * {
    background: #607d8b;
    color: white;
}

.flex {
  display: flex;
}

.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}

.flex-down {
  @extend .flex;
  flex-direction: column;
}

.flex-down-left {
  @extend .flex-down;
  align-items: flex-end;
}

.flex-down-center {
  @extend .flex-down;
  justify-content: center;
  align-items: center
}

.flex-down-spacebetween {
  @extend .flex-down;
  justify-content: space-between
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center
}

.flex-vCenter {
  @extend .flex;
  align-items: center
}

.flex-stretch {
  @extend .flex;
  align-items: stretch
}

.flex-wrap-end {
  @extend .flex-wrap;
  justify-content: flex-end;
}

//.ct-chart-donut .ct-label{
//  fill: white;
//  font-weight: bold;
//  font-size: 0.8em;
//}


