@import "assets/reset.css";
@import "assets/scss/chartist.scss";
@import "assets/css/materialize.min.css";


@media only screen and (min-width: 993px) {
    header, footer, main {
        padding-left: 300px;
    }
}

.fixed-action-btn {
  z-index: auto;
}

.chat-bottom {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    margin: 0;
  z-index: 999;
}

.no-padding {
    padding: 0 !important;

}
.no-margin {
    margin: 0 !important;
}

.text-small {
  font-size: 0.6em;
}

.text-large {
  font-size: 1.4em
}

a {
    cursor: pointer;
}

.material-tooltip > * {
    background: #607d8b;
    color: white;
}

.flex {
  display: flex;
}

.flex-wrap {
  @extend .flex;
  flex-wrap: wrap;
}

.flex-down {
  @extend .flex;
  flex-direction: column;
}

.flex-down-left {
  @extend .flex-down;
  align-items: flex-end;
}

.flex-down-center {
  @extend .flex-down;
  justify-content: center;
  align-items: center
}

.flex-down-spacebetween {
  @extend .flex-down;
  justify-content: space-between
}

.flex-center {
  @extend .flex;
  justify-content: center;
  align-items: center
}

.flex-vCenter {
  @extend .flex;
  align-items: center
}

.flex-stretch {
  @extend .flex;
  align-items: stretch
}

.flex-wrap-end {
  @extend .flex-wrap;
  justify-content: flex-end;
}

.ct-legend {
  position: relative;
  z-index: 10;
  margin: 10px 25px;

  li {
    position: relative;
    padding-left: 23px;
    margin-bottom: 3px;
    display: inline-flex;
    margin-left: 25px;
    font-size: $ct-text-size;
    color: $ct-text-color;
    font-weight: bold;
  }

  li:before {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    content: '';
    border: 3px solid transparent;
    border-radius: 2px;
  }

  li.inactive:before {
    background: transparent;
  }

  &.ct-legend-inside {
    position: absolute;
    top: 0;
    right: 0;
  }

  @for $i from 0 to length($ct-series-colors) {
    .ct-series-#{$i}:before {
      background-color: nth($ct-series-colors, $i + 1);
      border-color: nth($ct-series-colors, $i + 1);
    }
  }
}


