/* You can add global styles to this file, and also import other style files */

/*body>*{*/
/*height: 100vh;*/
/*width: 100%;*/
/*}*/

@media only screen and (min-width: 993px) {
    header, footer, main {
        padding-left: 300px;
    }
}

.chat-bottom {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    margin: 0;
}

.chat-list {
    overflow-y: auto;
    height: 350px;
}

.chat-form {
    height: 50px;
}

.no-margin {
    margin: 0 !important;
}
a {
    cursor: pointer;
}

.material-tooltip > * {
    background: #607d8b;
    color: white;
}