
@media only screen and (min-width: 993px) {
    header, footer, main {
        padding-left: 300px;
    }
}

.chat-bottom {
    position: fixed;
    right: 10px;
    bottom: 0;
    width: 300px;
    box-sizing: border-box;
    margin: 0;
}

.no-padding {
    padding: 0 !important;

}
.no-margin {
    margin: 0 !important;
}

a {
    cursor: pointer;
}

.material-tooltip > * {
    background: #607d8b;
    color: white;
}