<div *ngIf="award" [hidden]="showDialogAward" class="center">
    <a (click)="showDialogAward=!showDialogAward;currentaward=award">{{award.name}}</a>
    <div class="last">{{household.lastAward}} won by {{household.lastAwardWonBy}}</div>
</div>


<div *ngIf="!award" [hidden]="showDialogNewAward" class="center">
    <a class="materialize-red-text" (click)="showDialogNewAward=!showDialogNewAward">Set an award for this month</a>
    <div class="last">{{household.lastAward}} won by {{household.lastAwardWonBy}}</div>
</div>


<app-award-detail
        *ngIf="award"
        [(visible)]="showDialogAward"
        [(award)]="award"
        [user]="user"></app-award-detail>

<app-new-award
        (awardAdded)="receiveAwardfromDialog($event)"
        [(visible)]="showDialogNewAward"></app-new-award>